@font-face {
    font-family: 'Bad Script';
    src: url('../font/Badscriptregular.woff2') format('woff2'), 
    		 url('../font/Badscriptregular.woff') format('woff'), 
    		 url('../font/Badscriptregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'si';
    src: url('../icons/socicon.eot');
    src: url('../icons/socicon.eot?#iefix') format('embedded-opentype'),
         url('../icons/socicon.woff') format('woff'),
         url('../icons/socicon.ttf') format('truetype'),
         url('../icons/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(../icons/socicon.svg) format(svg);
    }
}*/

* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
}

body {
	height: 100%;
}

#bg {
	height: 100%;
	width: 100%;
	position: fixed;
	background-image: url('../img/bg_5.jpg');
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	z-index: -1;
}

.menu_button_show {
	position: fixed;
	z-index: 1;
	width: 70px;
	height: 70px;
	margin: 0 auto;
	border: 2px solid #fff;
	border-radius: 50%;
	top: -25px;
	left: -25px;
	display: none;
}

.avatar {
	background-image: url(../img/avatar/1.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
}

.menu_button_show:hover {
	width: 100px;
	height: 100px;
	border: 2px solid #ef9985;
}

/*SideBar*/

.sidebar {		
	position: fixed;	
	width: 25%;
	min-width: 250px;		
	height: 100%;
	float: left;
	background-color: rgba(0, 0, 0, 0.7);	
	transition: left 0.5s ease-out 0.5s;
}

.sb_Head {
	margin-top: calc(100vh * 0.10);
	width: calc(100% - 40px);
	padding: 20px;
	padding-bottom: 10px;
}

.avatar_Block {
	width: calc(100vh*0.20);
	height: calc(100vh*0.20);
	margin: 0 auto;
	border: 2px solid #fff;
	border-radius: 50%;
}

.name {
	display: block;
	text-align: center;
	margin-top: 10px;
	font-family: 'Bad Script';
	font-size: calc(100vh*0.035);	
}

.name > a {
	color: #fff;
}

.split {
	display: block;
	width: 80%;
	height: 1px;
	border-top: 2px dashed #fff;	
	margin: 0 auto;
	margin-bottom: calc(100vh * 0.04);
}

.sb_Menu {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.sb_Menu li {
	width: 100%;
	height: 35px;
	padding-bottom: calc(70vh * 0.045);
	font-family: 'Bad Script';
}

.sb_Menu li > a {	
	color: #fff;
	font-size: calc(100vh*0.025);
	padding-top: 25px;
}

.sb_Menu li > a:hover {
	color: #ef9985;
}

.sb_Footer {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.soc {
    overflow:hidden;
    margin:0; padding:2px;
    list-style:none;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;

    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 13px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    border-radius: 80px;
    border: 1px solid #fff;    
    margin-right: 5px;
    color: #fff;
}

.soc a:hover {
    z-index: 2;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    color: #ef9985;
    border: 1px solid #ef9985;
}

.soc-icon-last{
    margin:0 !important;
}

.soc-twitter:before {
    content:'\e040';
}
.soc-facebook:before {
    content:'\e041';
}
.soc-googleplus:before {
    content:'\e042';
}
.soc-instagram:before {
    content:'\e057';
}
.soc-vkontakte:before {
    content:'\e01a';
}

/*Content*/

.content {
	width: 72%;
	float: right;
	margin-right: 1.5%;
	display: flex;
	flex-wrap: wrap;
	padding-top: 30px;
}

.cnt_unit {
	min-width: 30%;
	max-width: 100%;
	height: auto;
	flex: 3;	
	margin: 7px;
	padding: 15px 15px 0 15px;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 1.2em;
}

.cnt_unit .datePostCreate {
	width: calc(50% - 30px);
	height: 30px;
	font-size: 0.8em;
	float: right;
	padding: 10px 15px;
	text-align: right;
	line-height: 30px; 
}

.cnt_unit .lnk {
	width: calc(50% - 30px);
	height: 30px;
	margin: 0 auto;
	float: left;
	padding: 10px 15px;
	text-align: left;	
	line-height: 30px; 
}

.cnt_unit .lnk > a{
	color: #f3f3f3;
}

.cnt_unit .lnk > a:hover{
	color: #ef9985;
}

.cnt_unit img {
	max-width: 100%;
}

/*Media Query*/

@media (max-width: 1000px) {
		.sidebar {
			width: 100%;
			left: -100%;			
		}		
		.sidebar.active {
			left: 0;
		}
		.content {
			width: 97%;
			margin-left: 1.5%;
		}
		.menu_button_show {
			display: block;
		}
}